* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #00573a;
  color: white; }

.app-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .app-wrapper .apsas {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .app-wrapper .apsas h1 {
      text-align: center; }
  .app-wrapper .wrapper {
    /* 		align-items: center; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 30%; }
    .app-wrapper .wrapper .clock {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3em; }
    .app-wrapper .wrapper .lengths {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .app-wrapper .wrapper .lengths #break-label,
      .app-wrapper .wrapper .lengths #session-label {
        border: 1px solid white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%; }
        .app-wrapper .wrapper .lengths #break-label button,
        .app-wrapper .wrapper .lengths #session-label button {
          width: 30%;
          cursor: pointer; }
          .app-wrapper .wrapper .lengths #break-label button:hover,
          .app-wrapper .wrapper .lengths #session-label button:hover {
            opacity: 0.9; }
      .app-wrapper .wrapper .lengths #break-label > p,
      .app-wrapper .wrapper .lengths #session-label > p {
        grid-column: span 3;
        padding: 1em; }
      .app-wrapper .wrapper .lengths #break-label > div,
      .app-wrapper .wrapper .lengths #session-label > div {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 1;
        border: 1px solid white;
        background: brown; }
    .app-wrapper .wrapper .panel {
      display: flex; }
    .app-wrapper .wrapper .panel > * {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      background: grey;
      border: 1px solid white;
      cursor: pointer; }
      .app-wrapper .wrapper .panel > *:hover {
        opacity: 0.4; }
  .app-wrapper h4,
  .app-wrapper h5 {
    text-align: center; }
