$zal: #00573a;

@mixin borderis() {
	border: 1px solid white;
}

@mixin centras() {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: $zal;
	color: white;
}

.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.apsas {
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		h1 {
			text-align: center;
		}
	}
	.wrapper {
		/* 		align-items: center; */
		// background: orange;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		.clock {
			@include centras();
			flex-direction: column;
			padding: 1em;
			font-size: 3rem;
			border: 3px solid white;
			border-radius: 3px;
		}
		.lengths {
			display: flex;
			flex-direction: row;
			justify-content: center;
			#break-label,
			#session-label {
				// @include borderis();
				display: grid;
				padding: 1em 0;
				text-align: center;
				width: 100%;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 50% 50%;
				.my {
					color: black;
				}
				button {
					width: 30%;
					cursor: pointer;
					&:hover {
						opacity: 0.9;
					}
				}
			}
			#break-label > p,
			#session-label > p {
				grid-column: span 3;
				padding: 0.3em;
				font-size: 1.2rem;
			}
			#break-label > div,
			#session-label > div {
				@include centras();
				grid-column: span 1;
				@include borderis();
				background: white;
				margin: 2px;
				border-radius: 3px;
			}
			#break-increment,
			#break-decrement,
			#session-increment,
			#session-decrement {
				cursor: pointer;
			}
			#break-increment:active,
			#break-decrement:active,
			#session-increment:active,
			#session-decrement:active {
				opacity: 0.9;
			}
		}

		.panel {
			display: flex;
		}
		.panel > * {
			flex: 3;
			@include centras();
			color: black;
			background: white;
			border-radius: 3px;
			padding: 1em;
			margin: 2px;
			@include borderis();
			border: 4px solid white;
			cursor: pointer;
			&:active {
				opacity: 0.4;
			}
		}
	}
	h4,
	h5 {
		text-align: center;
	}
}
